.task {
    border: 2px solid grey;
    border-radius: 4px;
    min-height: 5rem;
    padding: 0.5rem;
    margin: 5px 0 10px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: var(--shadow);
    cursor: move;
}

.bottom-wrapper {
    display: flex;
    justify-content: space-between;
}

.bottom-wrapper .delete-button {
    background-color: var(--red-dark);
    justify-content: center;
    text-align: center;
    padding: 8px 15px 5px 15px;
    border-radius: 8px;
    color: white;
}

.status {
    font-size: small;
    background: var(--green-dark);
    color: var(--text-light);
    padding: 0.5rem;
    border-radius: 10px;
}

.PLANNED {
    background: var(--red-dark)
}

.ONGOING {
    background: var(--blue-dark)
}

.DONE {
    background: var(--green-dark)
}